*{

    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100%;
}
.footer-container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end;

}
footer{
    display: grid;
    background-color: #A8DADC;
    height: 25%;
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto; 
    grid-template-areas: 
    ". . ."
    ". . ."; 
    align-items: center;
    justify-content: space-around;        
}
.groot-footer-block{
    border-radius: 3%;
    font-size: large;
    width: 1fr;
    height: 60%;
    text-align: center;
    
}

.footer-img{
    width: 50%;
    height: 50%;
    margin-top: 5%;
    text-align: center;
}


.klein-footer-block{
    display: flex;  
    align-items: center;
    height: 40%;
    width: 70%;
    margin-top: 2%;
    text-align: center;

}
.footer-tekst{
    background-color: #F1FAEE;
}
.klein-footer-img-block{
    height: 80%;
    width: 20%;
    margin-right: 5%;
}