*{
    padding: 0;
    margin: 0;
}
nav{
    height: 20vh;
    width: 100%;
    background-color: #A8DADC;
    display: flex;

}
.image-logo{
 display: flex;
 margin-left: 2%;
 align-self: center;
 justify-self: self-start;
}
.bestemmingen{
    align-self: center;
    height: 37%;
    width: 25%;
    font-size: 45px;
    justify-self: flex-end;
    font-family: 'Open Sans', sans-serif;
   
}
.Contact{
    align-self: center;
    
    height: 37%;
    width: 20%;
    font-size: 45px;
    justify-self: flex-end;
    font-family: 'Open Sans', sans-serif;

}

.image-inlog{
    display: flex;

    align-self: center;
    justify-self: center;
    justify-self: flex-end;
   }
   .stijlblock{
    width: 35%;
   }